input[type='text'],
input[type='number'],
input[type='email'],
.form-control {
    height: 45px !important;
    border: 0 !important;
}

.input-group-text {
    border: 0 !important;
}

input:focus {
    outline: none !important;
}

#btnLogin {
    padding: 6px 20px !important;
}

.login-image {
    max-width: 55px;
}

#loginbox {
    border: 1px solid #eaeaea;
    border-radius: 0;
    margin-top: 8%;
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0px 1px 1px -1px #495057;
}

#btnLogin {
    width: 100%;
    height: 40px;
    background-color: #007bff;
    border: 1px solid #007bff;
}

#btnLogin:hover {
    background-color: #0868ce;
    border: 1px solid #0868ce;
}

#btnLogin:focus {
    box-shadow: 0 0 0 0.2rem rgb(8 104 206);
}

#loginbox {
    border-radius: 5px;
}